<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= about %></title>
    <%- include('partials/stylesheet.ejs')%>

</head>
<body>
    <%- include('partials/navegation.ejs')%>
    <section>
        <div class="d-flex justify-content-center container mt-3 ">
            <h1 class="shadow-sm p-3 mb-5 bg-body rounded">About me</h1>
            
        </div>
        <div class="container text-center">
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Expedita libero sapiente similique mollitia ipsam sed earum maxime eveniet facere beatae, eos magnam vitae sunt obcaecati, velit nisi praesentium inventore laborum corporis dolores omnis nesciunt porro recusandae! Iusto totam quam atque vel voluptates doloremque. Consequatur voluptatum quaerat, reprehenderit quis distinctio dolores quod libero aliquam consequuntur eligendi blanditiis. Quaerat suscipit rem obcaecati, ratione reiciendis ipsa excepturi iusto libero adipisci unde officiis eos quis non beatae architecto blanditiis delectus tenetur facilis ad nam nemo esse iste eum quia. Repudiandae doloremque architecto praesentium quos, ab neque, adipisci delectus sint debitis eligendi quas, eum illo.
            </p>
        </div>
    </section>


</body>
</html>