<nav class="navbar navbar-expand-lg bg-dark p-2 text-light">
    <div class="container-fluid col-8 justify-content-start">
      <a class="navbar-brand text-light" href="/">Index</a>
      <a class="navbar-brand text-light" href="/contact">contact</a>
      <a class="navbar-brand text-light" href="/about">about</a>
    </div>
    <div>
      
        <!-- <form class="d-flex" role="search">
              <input  class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
              <button class="btn btn-outline-light">Search</button>
        </form> -->
    </div>
  </nav>
  
  
